<div class="container-fluid px-3 main">
  <app-titredepage title="Poste" [items]="items"></app-titredepage>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center"><h5
            class="mb-0 card-title flex-grow-1">Liste Poste</h5>
            <div class="flex-shrink-0 d-flex gap-1"><a
              (click)="openModal(content)"
              class="btn btn-darkblue"><i
              class="mdi mdi-plus"></i>Ajouter un Poste</a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <div class="row g-3">
            <div class="col-xxl-4 col-lg-5"><input type="search"
                                                   id="searchInput"
                                                   placeholder="Taper la designation ..."
                                                   [(ngModel)]="designation"
                                                   (keyup)="onPageChange(currentPage)"
                                                   class="form-control ng-untouched ng-pristine ng-valid">
            </div>
            <div class="col-xxl-2 col-lg-5"><select
              class="form-control select2 ng-untouched ng-pristine ng-valid">
              <option value="">chef</option>
              <option value="Active">OUI</option>
              <option value="Close">NON</option>
            </select></div>
            <div class="col-xxl-2 col-lg-2">
              <button type="button" class="btn btn-soft-secondary w-100"><i
                class="mdi mdi-filter-outline align-middle"></i> Filtrer
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ng-container
            [ngSwitch]="response.dataState"
            *ngIf="dossiers | async as response"
          >
            <ng-container *ngSwitchCase="dataStateEnum.CHARGEMENT">
              <div class="alert alert-info" role="alert">
                {{ dataStateEnum.CHARGEMENT }}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="dataStateEnum.ERREUR">
              <div class="alert alert-info" role="alert">
                {{ response.dataState }}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="dataStateEnum.CHARGE">
              <div class="table-responsive">
                <table class="table table-bordered align-middle nowrap">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                    <th scope="col">Fiche de poste</th>
                    <th scope="col">Chef service</th>
                    <th scope="col">Est chef</th>
                    <th scope="col">Service</th>
                    <th scope="col">Poste Hierarchique</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let dossier of listeDossierPage ?? []
                 ; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <th scope="row">{{dossier?.designation}}</th>
                    <th scope="row" class="justify-content-center">{{dossier?.description}}</th>
                    <ng-container *ngIf="dossier?.ficheDePoste != null; else templateA">
                      <th class="text-center"><a target="_blank" href="{{ telechargerFichePoste(dossier) }}" (click)="showPopOnDownloadFichePoste()"
                                                 class="btn btn-secondary btn-label btn-sm" style="font-size: 10px;"
                      >
                        <i class="mdi mdi-download label-icon"></i>
                        Télécharger
                      </a></th>
                    </ng-container>
                    <ng-template #templateA>
                      <th class="text-center">Aucun Fichier</th>
                    </ng-template>
                    <th *ngIf="dossier.chefService" scope="row"><span class="badge badge-soft-success">OUI</span></th>
                    <th *ngIf="!dossier.chefService" scope="row"><span class="badge badge-soft-danger">NON</span></th>
                    <th *ngIf="dossier.estChef" scope="row"><span class="badge badge-soft-success">OUI</span></th>
                    <th *ngIf="!dossier.estChef" scope="row"><span class="badge badge-soft-danger">NON</span></th>
                    <th scope="row">{{dossier?.service?.designation}}</th>
                    <th scope="row">{{dossier?.poste?.designation}}</th>
                    <td>
                      <button
                        placement="top"
                        ngbTooltip="Modifier"
                        class="btn btn-darkblue mx-1 mt-1 btn-sm"
                        (click)="openModal(content,dossier)"
                      >
                        <i class="mdi mdi-pencil"></i>
                      </button>
                      <button
                        placement="top"
                        ngbToolTip="Supprimer"
                        class="btn btn-danger mx-1 mt-1 btn-sm"
                        (click)="supprimerDossier(dossier.id)"
                      >
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </td>
                  </tr>

                  <tr *ngIf="response.data?.length == 0">
                    <td colspan="8" class="text-center"><i style="color: #d9534f;font-size: xxx-large" class='bx bxs-data btn btn-lg'></i><br>Aucun Poste</td>
                  </tr>
                  </tbody>
                </table>
                <div class="row justify-content-between align-items-center mb-3"
                     *ngIf="totalDossier > 10"
                >

                  <div class="col-auto me-auto"></div>
                  <div class="col-auto">
                    <div class="d-flex align-items-center">
                      <button
                        class="btn btn-primary mr-2 mx-3 btn-sm"
                        (click)="currentPage = currentPage - 1; handleClick()"
                        [disabled]="currentPage === 0"
                      >
                        Précédent
                      </button>
                      <ng-container *ngIf="pages.length > 1">
                        <ng-container *ngIf="pages.length <= 11">
                          <ng-container *ngFor="let page of pages">
                            <button
                              class="btn btn-primary btn-sm mx-1"
                              (click)="currentPage = page; handleClick()"
                              [disabled]="currentPage === page"
                            >
                              {{ page +1}}
                            </button>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="pages.length > 11">
                          <ng-container *ngIf="currentPage <= 6">
                            <ng-container *ngFor="let page of pages.slice(0, 5)">
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                            <button class="btn btn-primary btn-sm mx-1" disabled>
                              ...
                            </button>
                            <ng-container *ngFor="let page of pages.slice(-5)">
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="currentPage > 6 && currentPage < pages.length - 5"
                          >
                            <ng-container
                              *ngFor="
                      let page of pages.slice(currentPage - 4, currentPage)
                    "
                            >
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                            <button class="btn btn-primary btn-sm mx-1" disabled>
                              ...
                            </button>
                            <ng-container
                              *ngFor="
                      let page of pages.slice(currentPage, currentPage + 4)
                    "
                            >
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                          </ng-container>


                          <ng-container *ngIf="currentPage >= pages.length - 5">
                            <ng-container *ngFor="let page of pages.slice(0, 5)">
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                            <button class="btn btn-primary btn-sm mx-1" disabled>
                              ...
                            </button>
                            <ng-container *ngFor="let page of pages.slice(-5)">
                              <button
                                class="btn btn-primary btn-sm mx-1"
                                (click)="currentPage = page; handleClick()"
                                [disabled]="currentPage === page"
                              >
                                {{ page + 1 }}
                              </button>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <button
                        class="btn btn-primary btn-sm mx-3"
                        (click)="currentPage = currentPage + 1; handleClick()"
                        [disabled]="currentPage+1 === totalPages"
                      >
                        Suivant
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>{{formulaireDossier.get('id')?.value ? 'Modifier': 'Créer'}}</h4>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cliquer pour fermer')">
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="formulaireDossier"
           (ngSubmit)="creeModifierPoste()" >

      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" placeholder="Veillez svp entrer la designation du poste"  formControlName="designation" id="designation"
                   [ngClass]="{'is-invalid': formulaireDossier.get('designation')?.invalid && formulaireDossier.get('designation')?.dirty, 'is-valid': formulaireDossier.get('designation')?.valid}"
            >
            <div *ngIf="formulaireDossier.get('designation')?.invalid && formulaireDossier.get('designation')?.dirty" class="text-danger">
              <div *ngIf="formulaireDossier.get('designation')?.errors?.['required']">La designation est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="chefService">Chef Service</label>
            <select
              class="form-select"  formControlName="chefService" id="chefService"
              [ngClass]="{'is-invalid': formulaireDossier.get('chefService')?.invalid && formulaireDossier.get('chefService')?.dirty, 'is-valid': formulaireDossier.get('chefService')?.valid}"
            >
              <option [value]=null disabled selected>Veuillez choisir un</option>
              <option value="true" >Oui</option>
              <option value="false" >Non</option>

            </select>
            <div *ngIf="formulaireDossier.get('chefService')?.invalid && formulaireDossier.get('chefService')?.dirty" class="text-danger">
              <div *ngIf="formulaireDossier.get('chefService')?.errors?.['required']">Le chef Service est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="estChef">Chef</label>
            <select
              class="form-select"  formControlName="estChef" id="estChef"
              [ngClass]="{'is-invalid': formulaireDossier.get('estChef')?.invalid && formulaireDossier.get('estChef')?.dirty, 'is-valid': formulaireDossier.get('estChef')?.valid}"
            >
              <option [value]=null disabled selected>Veuillez choisir un</option>
              <option value="true" >Oui</option>
              <option value="false" >Non</option>

            </select>
            <div *ngIf="formulaireDossier.get('estChef')?.invalid && formulaireDossier.get('estChef')?.dirty" class="text-danger">
              <div *ngIf="formulaireDossier.get('estChef')?.errors?.['required']">Le chef est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <label for="service">Service</label>
            <ng-select
              [searchable] = true
              autofocus="true"
              (search) = "onSearchService($event.term)"
              [loading]="loading"
              formControlName="service"
              id="service"
              [ngClass]="{'is-invalid': formulaireDossier.get('service')?.invalid && formulaireDossier.get('service')?.dirty,
      'is-valid': formulaireDossier.get('service')?.valid}"
              placeholder="Tapez les trois premières lettres"
            >
              <ng-option *ngFor="let service of listeService" [value]="service.id">
                {{ service.designation}}
              </ng-option>
            </ng-select>
            <div *ngIf="formulaireDossier.get('service')?.invalid && formulaireDossier.get('service')?.dirty" class="text-danger">
              <div *ngIf="formulaireDossier.get('service')?.errors?.['required']">Le chef est obligatoire</div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="mb-3">
          <label for="poste">Poste</label>
          <ng-select
            [searchable] = true
            autofocus="true"
            (search) = "onSearchPoste($event.term)"
            [loading]="loading"
            formControlName="poste"
            id="poste"
            [ngClass]="{'is-invalid': formulaireDossier.get('poste')?.invalid && formulaireDossier.get('poste')?.dirty,
      'is-valid': formulaireDossier.get('poste')?.valid}"
            placeholder="Tapez les trois premières lettres"
          >
            <ng-option *ngFor="let poste of listePoste" [value]="poste.id">
              {{ poste.designation}}
            </ng-option>
          </ng-select>
        </div>
        <div class="form-group mb-2 mt-3">
          <label for="ficheDePoste">Fiche de poste</label>
          <input type="file" class="form-control" (change)="uploaderFicher($event)" id="ficheDePoste"
                 [ngClass]="{'is-invalid': !file && formulaireDossier.dirty}">
          <small class="text-danger" *ngIf="!file && formulaireDossier.dirty">Aucun fichier sélectionné</small>
        </div>

        <div class="col-md-12">
          <div class="mb-3">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" rows="5" placeholder="Veillez svp entrer la description du poste"  formControlName="description" id="description"
                   [ngClass]="{'is-invalid': formulaireDossier.get('description')?.invalid && formulaireDossier.get('description')?.dirty, 'is-valid': formulaireDossier.get('description')?.valid}"
            ></textarea>
            <div *ngIf="formulaireDossier.get('description')?.invalid && formulaireDossier.get('description')?.dirty" class="text-danger">
              <div *ngIf="formulaireDossier.get('description')?.errors?.['required']">La description est obligatoire</div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="formulaireDossier.invalid" type="submit">{{formulaireDossier.get('id')?.value ? 'Modifier': 'Créer'}}</button>
      </div>
    </form>
  </div>
</ng-template>
