<div class="container-fluid px-3 main">
  <div class="row">
    <app-titredepage title="Banques" [items]="items"></app-titredepage>
  </div>
<div class="bg-white p-3 mt-2">

    <h4 class="card-title">Liste des banques</h4>
    <p class="card-title-desc">Ce tableau presente la liste des <span class="text-danger">banques</span></p>


    <div class="row g-3 ">
        <div class="col-md-1">
            <select name="perPage" [(ngModel)]="perPage" id="" class="form-control text-center">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        </div>
        <div class="col-md-3 offset-md-8">
            <button class="btn btn-primary rounded-pill float-end" (click)="initAction(null, '', content)">
            <i class="bx bx-plus"></i>
            Ajouter un nouveau
          </button>
        </div>
    </div>


    <table class="table table-bordered table-hover mt-3 bg-white dt-responsive nowrap  no-footer dtr-inline">
        <thead>
            <tr>
                <th>#</th>
                <th>Sigle</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let banque of banques | paginate: { itemsPerPage: perPage, currentPage: p }; let i=index">
                <tr (click)="show(banque)">
                    <th scope="row">{{ i + 1 + (perPage * (p - 1)) }}</th>
                    <td>{{ banque.sigle }}</td>
                    <td>{{ banque.designation }}</td>
                    <td (click)="$event.stopPropagation()">
                        <i class="bx bx-edit ms-3 fs-5 btn btn-success" type="button" (click)="initAction(banque, 'edit', edit)"></i>
                        <i class="bx bx-trash ms-3 fs-5 btn btn-danger" type="button" (click)="initAction(banque, 'delete', delete)"></i>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" previousLabel="Precedent" nextLabel="Suivant"></pagination-controls>
</div>






<!-- ADD banque MODAL  -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire d'ajout de banque</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="banqueForm!" (ngSubmit)="createBanque()">
            <div>
                <label for="">sigle</label>
                <input type="text" formControlName="sigle" name="sigle" class="form-control" id="">
                <span *ngIf="sigle && sigle.invalid && sigle.touched" class="error">Vérifier ce champs</span>
            </div>
            <div class="mt-3">
                <label for="">Designation</label>
                <input type="text" formControlName="designation" name="designation" class="form-control" id="">
                <span *ngIf="designation && designation.invalid && designation.touched" class="error">Vérifier ce champs</span>
            </div>
            <ng-container *ngIf="!loading; else elseTemplate">
                <div class="mt-3 hstack">
                    <span class="btn btn-secondary me-2 border" (click)="clear()">Effacer</span>
                    <button [disabled]="!banqueForm?.valid" class="btn btn-primary">Sauvegarder</button>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="text-center mt-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</ng-template>





<!-- UPDATE banque MODAL  -->
<ng-template #edit role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Formulaire de modification du banque</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <form [formGroup]="banqueForm" (ngSubmit)="updateBanque()" *ngIf="banqueForm">
            <div>
                <label for="">sigle</label>
                <input type="text" formControlName="sigle" name="sigle" class="form-control" id="">
                <span *ngIf="sigle && sigle.invalid && sigle.touched" class="error">Vérifier ce champs</span>
            </div>
            <div class="mt-3">
                <label for="">Designation</label>
                <input type="text" formControlName="designation" name="designation" class="form-control" id="">
                <span *ngIf="designation && designation.invalid && designation.touched" class="error">Vérifier ce champs</span>
            </div>
            <ng-container *ngIf="!loading; else elseTemplate">
                <div class="mt-3 hstack">
                    <span class="btn btn-secondary me-2 border" (click)="clear()">Effacer</span>
                    <button [disabled]="!banqueForm.valid" class="btn btn-primary">Sauvegarder</button>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="text-center mt-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</ng-template>




<!-- DELETE banque MODAL  -->
<ng-template #delete role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Supprimer une banque</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p *ngIf="!loading">Voulez-vous vraiment supprimer la banque {{ sigle?.value }} ?</p>
        <div *ngIf="loading" class="text-center mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!loading" type="button" class="btn btn-danger" (click)="deleteBanque()">Supprimer</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
