<!-- src/app/commun/entetedepage/entetedepage.component.html -->
<header id="page-topbar" class="fixed-header">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/espacedetravail" class="brand">
          <!-- Mets ici ton nouveau logo GROUPE ISI RH -->
          <img src="/assets/groupe_isi.png" alt="GROUPE ISI RH" class="brand-logo">
        </a>
      </div>

      <!-- Bouton menu -->
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item"
        id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <!-- Recherche -->
      <form class="app-search d-none d-xl-block">
        <div class="position-relative">
          <input type="text" class="form-control" placeholder="Rechercher">
          <span class="bx bx-search-alt"></span>
        </div>
      </form>
    </div>

    <div class="d-flex">
      <!-- 🔔 Cloche notifications -->
      <app-notification-bell></app-notification-bell>

      <!-- Thème clair/sombre -->
      <button
        type="button"
        class="btn header-item noti-icon ms-1"
        (click)="toggleTheme()"
        [attr.aria-label]="isDarkMode ? 'Passer en mode clair' : 'Passer en mode sombre'">
        <i [ngClass]="isDarkMode ? 'bx bx-sun' : 'bx bx-moon'"></i>
      </button>

      <!-- Plein écran -->
      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button
          type="button"
          class="btn header-item noti-icon"
          data-toggle="fullscreen"
          (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>

      <!-- Menu utilisateur -->
      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          class="btn header-item"
          ngbDropdownToggle
          id="page-header-user-dropdown">

          <img
            *ngIf="profilSrc"
            class="rounded-circle font-size-14 avatar-user-profil avatar-sm"
            [src]="profilSrc"
            alt="Avatar">

          <span
            *ngIf="!profilSrc"
            class="avatar-user-profil-title rounded-circle text-white font-size-14 avatar-user-profil avatar-sm">
            {{ utilisateurAuthentifie?.personnel?.prenom[0] }}
          </span>

          <span
            *ngIf="utilisateurAuthentifie"
            class="d-none d-xl-inline-block ms-1">
            {{ utilisateurAuthentifie?.personnel?.prenom }}
            {{ utilisateurAuthentifie?.personnel?.nom }}
          </span>

          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>

        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a
            *ngIf="utilisateurAuthentifie"
            class="dropdown-item"
            routerLink="/moncompte/profil">
            <i class="bx bx-user font-size-16 align-middle me-1"></i>
            Profil
          </a>

          <a
            *ngIf="utilisateurAuthentifie"
            class="dropdown-item"
            routerLink="/motdepasseoublie">
            <i class="bx bx-key font-size-16 align-middle me-1"></i>
            Changer le Mot de Passe
          </a>

          <div class="dropdown-divider"></div>

          <a
            class="dropdown-item text-danger"
            (click)="deconnexion()">
            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            Déconnexion
          </a>
        </div>
      </div>

      <!-- États de chargement utilisateur -->
      <ng-container
        *ngIf="utilisateurAuthentifieState$ | async as reponse"
        [ngSwitch]="$any(reponse).dataState">

        <ng-container *ngSwitchCase="dataStateEnum.CHARGEMENT"></ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.ERREUR"></ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.CHARGE"></ng-container>
      </ng-container>
    </div>
  </div>
</header>
