.connexion-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: 65px;
}

.connexion-point-blanc {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: 60px;
}



