<div id="layout-wrapper" >

    <app-entetedepage (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-entetedepage>
  
    <app-menu [isCondensed]="isCondensed" ></app-menu>
  
    <div class="main-content" >
      <div class="page-content">
        <!-- content -->
        <router-outlet></router-outlet>
      </div>
  

      <!-- footer -->
      <app-pieddepage></app-pieddepage>
    </div>
  </div>
  
  <!--app-rightsidebar></app-rightsidebar-->
  