<ng-template #contentTemplate>

  <div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>

      <ng-container *ngFor="let item of menuItems">

        <!-- Titre -->
        <li class="menu-title" *ngIf="item.isTitle">
          {{ item.label }}
        </li>

        <!-- Item normal -->
        <li *ngIf="!item.isTitle && !item.isLayout">

          <!-- Parent avec sous-menus -->
          <a *ngIf="hasItems(item)"
             href="javascript:void(0);"
             class="is-parent"
             [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
            <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
            <span>{{ item.label }}</span>
            <span class="badge rounded-pill float-end bg-{{item.badge.variant}}"
                  *ngIf="item.badge">
              {{ item.badge.text | translate }}
            </span>
          </a>

          <!-- Item simple -->
          <a *ngIf="!hasItems(item)"
             [routerLink]="item.link?.startsWith('/') ? item.link : ['/rh', item.link]"
             class="side-nav-link-ref"
             routerLinkActive="active">
            <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
            <span>{{ item.label }}</span>
            <span class="badge rounded-pill bg-{{item.badge.variant}} float-end"
                  *ngIf="item.badge">
              {{ item.badge.text | translate }}
            </span>
          </a>

          <!-- Sous-menus -->
          <ul *ngIf="hasItems(item)" class="sub-menu" aria-expanded="false">
            <li *ngFor="let subitem of item.subItems">

              <!-- Sous-item simple -->
              <a *ngIf="!hasItems(subitem)"
                 [routerLink]="subitem.link?.startsWith('/') ? subitem.link : ['/rh', subitem.link]"
                 class="side-nav-link-ref"
                 [attr.data-parent]="subitem.parentId"
                 routerLinkActive="active">
                <i class="bx {{ subitem.icon }}" *ngIf="subitem.icon"></i>
                {{ subitem.label }}
              </a>

              <!-- Sous-item avec sous-sous-menus -->
              <a *ngIf="hasItems(subitem)"
                 class="side-nav-link-a-ref has-arrow"
                 href="javascript:void(0);"
                 [attr.data-parent]="subitem.parentId">
                <i class="bx {{ subitem.icon }}" *ngIf="subitem.icon"></i>
                {{ subitem.label }}
              </a>

              <ul *ngIf="hasItems(subitem)" class="sub-menu mm-collapse" aria-expanded="false">
                <li *ngFor="let subSubitem of subitem.subItems">
                  <a [routerLink]="subSubitem.link?.startsWith('/') ? subSubitem.link : ['/rh', subSubitem.link]"
                     [attr.data-parent]="subSubitem.parentId"
                     routerLinkActive="active"
                     class="side-nav-link-ref">
                    <i class="bx {{ subSubitem.icon }}" *ngIf="subSubitem.icon"></i>
                    {{ subSubitem.label }}
                  </a>
                </li>
              </ul>

            </li>
          </ul>
        </li>

      </ng-container>
    </ul>
  </div>
</ng-template>

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ngx-simplebar>
</div>
