.hide {
  display: none;
}

.blue-lanation {
  color: white;
  background-color: #272f80;
}


.bg-blue-lanation {
  background-color: #272f80;
}

.blue-lanation-clair {
  color: #292383;
  background-color: #746dda;
}

.couleur-blue-lanation {
  color: #272f80;
}

.couleur-rouge-onip {
  color: #ed1c24;
}

.rouge-onip {
  color: #ed1c24;
  background-color: #ed1c24;
}


.bg-rouge-onip-clair {
  background-color: #ed1c24;
  color: white;
}

.couleur-rouge-onip-clair {
  color: #ed1c24;
}



.noir {
  color: black;
}


.blanc{
  color: white;
}

.blanc:hover{
  color: white;
}