<div class="container-fluid px-3 main">
  <app-titredepage title="Mission" [items]="items"></app-titredepage>
  <div class="row">
    <div class="row">
      <div class="col-lg-12">
        <div class="card job-filter">
          <div class="card-body p-3">
            <div class="row g-3">
              <div class="col-xxl-4 col-lg-6">
                <div class="position-relative"><input type="search" id="searchInput" [(ngModel)]="reference"
                    (keyup)="onPageChangeReference(currentPage)"
                    placeholder="Taper les trois première lettre de la référence ..."
                    class="form-control ng-untouched ng-pristine ng-valid"></div>
              </div>
              <div class="col-xxl-2 col-lg-6">
                <div class="position-relative h-100 hstack gap-3">
                  <button (click)="openModal(content)" type="submit" class="btn-darkblue h-100 w-100"><i
                      class="mdi mdi-plus align-middle"></i> Ajouter une mission
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container [ngSwitch]="response?.dataState" *ngIf="dossiers | async as response">
    <ng-container *ngSwitchCase="dataStateEnum.CHARGEMENT">
      <div class="alert alert-info" role="alert">
        {{ dataStateEnum.CHARGEMENT }}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="dataStateEnum.ERREUR">
      <div class="alert alert-danger" role="alert">Erreur:</div>
    </ng-container>
    <ng-container *ngSwitchCase="dataStateEnum.CHARGE">
      <div class="card" *ngIf="listeDossierPage.length">
        <div class="mt-3">
          <ul class="message-list" *ngFor="let dossier of listeDossierPage ?? []">
            <li>
              <div class="col-mail col-mail-1">
                <button type="button" title="Ajouter le rapport" placement="top" ngbToolTip="Ajouter le rapport"
                  *ngIf="!dossier?.rapport" (click)="openModalRapport(rapport, dossier)"
                  class="btn btn-secondary btn-sm like-btn mx-1" data-bs-toggle="button">
                  <i class="bx bx-upload"></i>
                </button>
                <a type="button" title="Télécharger le rapport" placement="top" target="_blank"
                  (click)="showPopOnDownloadRapportMission()" href="{{telechargerRapportMission(dossier)}}"
                  *ngIf="dossier?.dateDebut" ngbTooltip="Télécharger le rapport"
                  class="btn btn-dark btn-sm like-btn mx-1" data-bs-toggle="button">
                  <i class="bx bx-download"></i>
                </a>

                <button type="button" title="Modifier" placement="top" ngbToolTip="Modifier"
                  (click)="openModal(content, dossier)" class="btn-darkblue btn-sm like-btn mx-1"
                  data-bs-toggle="button">
                  <i class="bx bx-pencil"></i>
                </button>
                <button type="button" title="supprimer" placement="top" ngbToolTip="supprimer"
                  (click)="supprimerMission(dossier.id)" class="btn btn-danger btn-sm like-btn "
                  data-bs-toggle="button">
                  <i class="bx bx-trash-alt"></i>
                </button>
                <span *ngIf="dossier?.dateDebut" class="badge mx-3 badge-soft-success">En Cours</span>
                <span *ngIf="!dossier?.dateFin" class="badge mx-3 badge-soft-danger">Terminer</span>
                <a style="margin-left: 80px" class="title "
                  [routerLink]="['details/' +  encodeId(dossier?.id)]">{{dossier?.dateDebut}}</a>
              </div>

              <div class="col-mail col-mail-2"><a [routerLink]="['details/' +  encodeId(dossier?.id)]"
                  class="subject ">{{dossier?.motif}}</a>
                <div class="date ">{{dossier?.dateDebut| date:'dd MMMM yyyy':'':'fr-FR'}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" *ngIf="!listeDossierPage.length">
        <p class="text-center" style="font-size: xx-large">
          <i style="color: red; font-size: 150px" class='bx bxs-data'></i> <br>Aucune Mission
        </p>
      </div>

      <div class="row justify-content-between align-items-center mb-3" *ngIf="totalDossier > 10">
        <div class="col-auto me-auto"></div>
        <div class="col-auto">
          <div class="d-flex align-items-center">
            <button class="btn btn-primary mr-2 mx-3 btn-sm" (click)="currentPage = currentPage - 1; handleClick()"
              [disabled]="currentPage === 0">
              Précédent
            </button>
            <ng-container *ngIf="pages.length > 1">
              <ng-container *ngIf="pages.length <= 11">
                <ng-container *ngFor="let page of pages">
                  <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                    [disabled]="currentPage === page">
                    {{ page + 1 }}
                  </button>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="pages.length > 11">
                <ng-container *ngIf="currentPage <= 6">
                  <ng-container *ngFor="let page of pages.slice(0, 5)">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                  <button class="btn btn-primary btn-sm mx-1" disabled>
                    ...
                  </button>
                  <ng-container *ngFor="let page of pages.slice(-5)">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="currentPage > 6 && currentPage < pages.length - 5">
                  <ng-container *ngFor="
                      let page of pages.slice(currentPage - 4, currentPage)
                    ">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                  <button class="btn btn-primary btn-sm mx-1" disabled>
                    ...
                  </button>
                  <ng-container *ngFor="
                      let page of pages.slice(currentPage, currentPage + 4)
                    ">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="currentPage >= pages.length - 5">
                  <ng-container *ngFor="let page of pages.slice(0, 5)">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                  <button class="btn btn-primary btn-sm mx-1" disabled>
                    ...
                  </button>
                  <ng-container *ngFor="let page of pages.slice(-5)">
                    <button class="btn btn-primary btn-sm mx-1" (click)="currentPage = page; handleClick()"
                      [disabled]="currentPage === page">
                      {{ page + 1 }}
                    </button>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <button class="btn btn-primary btn-sm mx-3" (click)="currentPage = currentPage + 1; handleClick()"
              [disabled]="currentPage+1 === totalPages">
              Suivant
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4>{{formulaireDossier.get('id')?.value ? 'Modifier': 'Créer'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cliquer pour fermer')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulaireDossier" (ngSubmit)="creerModifierMission()">

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="dateDebut">Date de debut</label>
            <input type="date" class="form-control" placeholder="Veuillez entrer ou sélectionner la date de debut"
              formControlName="dateDebut" id="dateDebut"
              [ngClass]="{'is-invalid': formulaireDossier.get('dateDebut')?.invalid && formulaireDossier.get('dateDebut')?.dirty, 'is-valid': formulaireDossier.get('dateDebut')?.valid}">
            <div *ngIf="formulaireDossier.get('dateDebut')?.invalid && formulaireDossier.get('dateDebut')?.dirty"
              class="text-danger">
              <div *ngIf="formulaireDossier.get('dateDebut')?.errors?.['required']">La date de debut est obligatoire
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="nbreJour">Nombre De Jour</label>
            <input type="number" class="form-control" placeholder="Veuillez entrer ou sélectionner le nombre de jour"
              formControlName="nbreJour" id="nbreJour"
              [ngClass]="{'is-invalid': formulaireDossier.get('nbreJour')?.invalid && formulaireDossier.get('nbreJour')?.dirty, 'is-valid': formulaireDossier.get('nbreJour')?.valid}">
            <div *ngIf="formulaireDossier.get('nbreJour')?.invalid && formulaireDossier.get('nbreJour')?.dirty"
              class="text-danger">
              <div *ngIf="formulaireDossier.get('nbreJour')?.errors?.['required']">Le nombre de jour est obligatoire
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="personnel">Personnel</label>
              <ng-select [searchable]=true autofocus="true" (search)="onSearchPersonnel($event.term)"
                [loading]="loading" formControlName="personnelId" id="personnelId"
                [ngClass]="{'is-invalid': formulaireDossier.get('personnelId')?.invalid && formulaireDossier.get('personnelId')?.dirty, 'is-valid': formulaireDossier.get('personnelId')?.valid}"
                placeholder="Tapez les trois première lettres du nom">
                <ng-option *ngFor="let personnels of listePersonnel" [value]="personnels.id">
                  {{personnels?.prenom + ' ' + personnels?.nom}}
                </ng-option>
              </ng-select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="moyenDeplacement">Moyen de Transport</label>
              <input type="text" class="form-control" placeholder="Veuillez entrer le moyen de Transport"
                formControlName="moyenDeplacement" id="moyenDeplacement"
                [ngClass]="{'is-invalid': formulaireDossier.get('moyenDeplacement')?.invalid && formulaireDossier.get('moyenDeplacement')?.dirty, 'is-valid': formulaireDossier.get('moyenDeplacement')?.valid}">
              <div
                *ngIf="formulaireDossier.get('moyenDeplacement')?.invalid && formulaireDossier.get('moyenDeplacement')?.dirty"
                class="text-danger">
                <div *ngIf="formulaireDossier.get('moyenDeplacement')?.errors?.['required']">Le moyen de Transport est
                  obligatoire</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <div class="form-group mb-3">
                <label>Objet</label>
                <textarea type="text" class="form-control" formControlName="objet" rows="4"
                  [ngClass]="{'is-invalid': formulaireDossier.get('objet')?.invalid && formulaireDossier.get('objet')?.dirty, 'is-valid': formulaireDossier.get('objet')?.valid}">
            </textarea>
                <div *ngIf="formulaireDossier.get('objet')?.invalid && formulaireDossier.get('objet')?.dirty"
                  class="text-danger">
                  <div *ngIf="formulaireDossier.get('objet')?.errors?.['required']">L'objet est obligatoire</div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="mb-3">
              <div class="form-group mb-3">
                <label for="pieces">Pieces</label>
                <input type="file" class="form-control" (change)="uploaderFicher($event)" id="pieces"
                  [ngClass]="!pieces ? 'invalid-input' : '.valid-input'">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="formulaireDossier.invalid"
          type="submit">{{formulaireDossier.get('id')?.value ? 'Modifier': 'Créer'}}</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #rapport let-modal>
  <div class="modal-header">
    <h4>Ajouter le rapport de mission</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cliquer pour fermer')">
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="ajouterRapport()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-2 mt-3">
            <label for="rapport">Rapport</label>
            <input type="file" class="form-control" (change)="uploaderFicher($event)" id="rapport"
              [ngClass]="!pieces ? 'invalid-input' : '.valid-input'">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Ajouter</button>
      </div>
    </form>
  </div>
</ng-template>